.navbar {
    background-color: $grey-6;
    max-width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 0.4s ease;

    .toggler {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__links {
        display: flex;
        align-items: center;

        * + * {
            margin-left: 2rem;
        }
    }

    &__link {
        color: var(--clr-grey);

        &:last-child{
            background-color: var(--clr-primary);
            color: $grey-6;
            padding: 10px 20px;
            border-radius: 2px;
            display: flex;
            align-items: center;
            position: relative;

            &:hover {
                transition: all 0.3s ease-in-out;
                color: var(--clr-light);

            }
        }


    }

    .active, a:hover {
        color: var(--clr-primary);
    }

    &.shadow {
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
        transition: all 0.4s ease;
    }
}

// hero section //

.hero {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/assets/img/hero-bg.png) no-repeat center center/cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    color: $grey-6;
    position: relative;

    .container {
        display: flex;
        align-items: center;
    }
    
    
    &__content {
        width: 50%;
    }

    &__title {
        font-size: clamp(2rem, 3vw, 5rem);
        margin-bottom: 2rem;

        span.h {
            color: var(--clr-primary);
        }

        span.highlight {
            position: relative;
            z-index: 5;
        }

        .svg-highlight {
            position: absolute;
            left: 0;
            top: -10px;


        }
    }

    &__copy {
        font-size: clamp(1rem, 1vw, 2rem);
        margin-bottom: 2rem;
    }

    .mouse {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        animation: float 1s ease infinite alternate;
        transform-origin: bottom;
    }
}

// services section
.services {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    padding: 2rem 0;

    h2 {
        color: #421A00;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
    }

    &__service {
        min-height: 90vh;
        display: flex;
        align-items: center;
        margin: 2rem 0;

        .box {
            flex-grow: 1;
            flex-basis: 0;
        }
    }

    &__title {
        font-size: clamp(1.4rem, 2.2vw, 3rem) !important;
        color: #C94B28;
    }

    &__details {
        list-style: none;
        list-style-image: url(/assets/img/check-square.svg);
        list-style-position: inside;

        li {
            color: #2C2C2C;
            margin: 1.5rem 0;
            font-size: 0.8;
        }
    }

    &__p {
        margin: 2rem 0;
    }

    &__img-container {
        min-height: 100%;
        position: relative;

        img {
            max-height: 600px;
            position: absolute;
            right: -80%;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 0px 84px 78px -35px rgba(188, 184, 184, 0.25);
        }
    }

    &__cta {
        --theme: #C94B28;

        display: inline-block;
        padding: 1rem 2rem;
        background-color: transparent;
        color: var(--theme);
        border-radius: 3px;
        border: 2px solid var(--theme);
        transition: 0.3s ease all;

        &:hover, &:focus {
            background-color: var(--theme);
            color: var(--clr-white);
        }
    }

    &__service:nth-of-type(2) {
        .services__title {
            color: #213C9E;
        }

        .services__cta {
            --theme: #213C9E;
        }
    }
    &__service:nth-of-type(3) {
        .services__title {
            color: var(--clr-primary);
        }

        .services__cta {
            --theme: var(--clr-primary);
        }
    }
    &__service:nth-of-type(4) {
        .services__title {
            color: #687BEC;
        }

        .services__cta {
            --theme: #687BEC;
        }

        .services__details {
            list-style-image: url(/assets/img/check-square-2.svg);
        }
    }
}

// why us
.whyus {
    padding: 2rem 0;
    display: flex;
    justify-content: center;

    h2 {
        color: #421A00;
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
    }

    &__reasons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 2rem 0;
    }

    &__reason {
        flex: 0 0 360px;
        height: 200px;
        background-color: #FDFBFA;
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 7px;
        transition: all 0.3s ease !important;

        .title {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;

            img {
                max-width: 30px;
                height: auto;
                margin-right: 20px;
            }

            h3 {
                color: var(--clr-primary);
            }
        }

        .body {
            color: rgba(0, 0, 0, 0.52);;
        }

        &:hover {
            transform: translateY(-5px) !important;
            box-shadow: 0px 100px 80px rgba(201, 81, 0, 0.07), 0px 41.7776px 33.4221px rgba(201, 81, 0, 0.0387606), 0px 22.3363px 17.869px rgba(201, 81, 0, 0.0213288), 0px 12.5216px 10.0172px rgba(201, 81, 0, 0.00956819), 0px 6.6501px 5.32008px rgba(201, 81, 0, 0.00219317);
            transition: all 0.3s ease !important;
        }
    }
}

// partners
.partners {
    min-height: 100vh;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        justify-content: space-evenly;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        justify-items: center;
        justify-content: space-evenly;
    }

    &__partner {
        display: grid;
        place-items: center;
        filter: grayscale(1);
        transition: all 0.3s ease;
        height: 200px;
        width: 200px;

        img {
            max-width: 80%;
            height: auto;
            object-fit: contain;
        }

        &:hover, &:focus {
            filter: grayscale(0);
            transition: all 0.3s ease;

        }

        &:last-of-type{
            
        }
    }
}

// footer
.footer {
    min-height: 50vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;

    .cta {
        background-color: var(--clr-primary);
        padding: 1rem 2rem;
        color: white;
        border-radius: 3px;
        margin: 2rem 0;

        a {
            color: var(--grey-6);
        }
    }

    .container {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 1rem;
    }

    &__contact {
        padding-left: 2rem;

        h3 {
            color: var(--clr-primary);
        }

        ul.contacts {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
        }

        li.contact {
            color: rgba(255, 255, 255, 0.452);
            margin: 1rem 0;

            span {
                display: flex;

                img {
                    margin-right: 1rem;
                }

                a {
                    color: rgba(255, 255, 255, 0.47);
                }
            }
        }
    }

    &__content {
        color: var(--clr-grey);

        * + * {
            margin: 20px 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            color: var(--clr-primary);
        }
    }

    .sitelinks {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .sitelink {
        margin: 1rem 0;

        a {
            color: var(--clr-white);
            font-size: clamp(1rem, 1vw, 2rem);
        }
    }
}



@media screen and (max-width: 500px){

    .navbar {

        .toggler {
            position: relative;
            height: 30px;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s all ease-in-out;

            &__bars {
                height: 3px;
                width: 100%;
                background-color: var(--clr-primary);
                border-radius: 20px;
                transition: 0.4s all ease-in-out;
    
                &::before, &::after {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    background-color: var(--clr-primary);
                    border-radius: 20px;
                    transition: 0.4s all ease-in-out;
                }
    
                &::before {
                    transform: translateY(-8px);
                }
    
                &::after {
                    transform: translateY(8px);
                }
            }

            &.clicked {
                .toggler__bars {
                    background-color: transparent;

                    &::before {
                        transform: rotate(45deg);
                    }
        
                    &::after {
                        transform: rotate(-45deg);
                    }
                }

            }
        }


        &__links {
            flex-direction: column;
            align-items: center;
            position: absolute;
            min-height: 100vh;
            background-color: rgba(0, 0, 0, 0.645);
            bottom: 0;
            right: -100%;
            top: 100%;
            width: 50%;
            z-index: 999;
            padding-top: 2rem;
            transition: 0.3s ease all;

            * + * {
                margin-top: 3rem;
                margin-left: 0;
            }

            &.open__nav {
                right: 0;
            }

            @supports (backdrop-filter: blur()){
                backdrop-filter: blur(10px);
            }
        }

        &__link {
            color: var(--clr-white);
        }
    }

    .hero {
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/assets/img/hero-bg.png) no-repeat center center/cover;
        &__content {
            width: 100%;
        }
    }

    .services {
        max-height: 100%;
        h2 {
            font-size: clamp(20px, 10vw, 4rem);
            line-height: 40px;
        }

        &__details {
            width: unset;
        }

        &__service {
            flex-direction: column-reverse;
        }

        &__title {
            font-size: 2rem;
        }

        &__img-container {
            max-height: 40vh;
            position: relative;
            // margin-bottom: 100px;
            display: grid;
            place-items: center;
    
            img { 
                all: unset;
                max-height: calc(20vh+10px);
                width: auto;
                object-fit: contain;
                box-shadow: 0px 84px 78px -35px rgba(188, 184, 184, 0.25);
            }
        }

        &__cta {
            width: 100%;
            text-align: center;
            padding: 10px 20px;
        }
    }

    .partners {
        &__list {
            grid-template-columns: 1fr 1fr;
        }

        &__partner {
            width: 170px;
            height: 170px;
        }
    }

    .footer {
        padding: 2rem 0;
        .container {
            grid-template-columns: 1fr;
        }

        &__links {
            text-align: center;
        }

        .sitelinks {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .sitelink {
            margin: 1rem;
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                max-width: 60%;
            }
            p {
                text-align: center;
            }
            span {
                align-self: center !important;
            }
        }
    }
}

@-webkit-keyframes float {
    0% {
        -webkit-bottom: 10px;
    }

    100% {
        -webkit-bottom: 20px;
    }
}